body{
  background-color: rgb(115, 140, 187);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 100%;
  width: 50%;
  margin: 20px;
  padding: 10px;
}

h1{
  color:rgb(135, 7, 139);
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

p{
  color: rgb(37, 40, 182);
  font-weight: bold;
  font-size: 20px;
}
table{
  background-color: rgb(202, 191, 191);
  font-size: 20px;
  color: rgb(135, 7, 139);
  width: 100%;
}

th, td{
  border: 2px outset;
}
th, .bold{
  color: rgb(37, 40, 182);
  font-weight:700;
}

.container{
  background-color: rgb(202, 191, 191);
  padding: 20px;
  width: 95%;
  color: rgb(135, 7, 139);
  border: 2px outset;
}
.form-group{
  display: flex;
  align-items: center;
  padding: 10px;
}

label, caption{
  font-weight: 800;
  padding: 10px;
}

strong{
  color: rgb(135, 7, 139);
  text-decoration: underline;
}